body {
    background-color: black;
}
h1 { color: aliceblue;
    text-align: center;
}
.Calculadora {
    border: 1px solid rgb(134, 132, 132);
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    max-width: 400px;
    
}
.display{
    border: 1px solid rgb(216, 213, 213);
    border-radius: 8px;
    width: 85%;
    height: 50px;
    text-align: right;
    font-size: 2em;
    color: rgb(104, 100, 100);
}

.btn {
    background: rgb(247, 245, 245);
    border-radius: 8px;
    width: 20%;
    margin: auto;
    height: 10%;
    margin-top: 5px;
    cursor: pointer;
}
.btn:hover {
    background: rgb(179, 177, 177);
}